# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
Simulation Data/
Paper/
old code/

# Large files
*.csv
*.zip
*.gz
*.h5
*.npy
*.npz
